extends layout


block content
  if !posts 
   h3 There are no posts yet!   
  else
   each post, i in posts
    .post
     h1
      a(href='/posts/show/#{post._id}')
       =post.title
     p.meta Posted in 
      a(href='/categories/show/#{post.category}') #{post.category}
      by  by #{post.username} 
      on #{moment(post.date).format("MM-DD-YYYY")}
     if post.mainimage == "noimage.jpg"
     else
      img(src='/images/#{post.mainimage}')
      br    
     !=shortenText(post.body,500)
     a.more(href='/posts/show/#{post._id}') Read More
     
